{% if p:getTotal() then %}
	{% local modelUrl = urlConf:getBaseUri().."/"..urlConf:getCapture(1) %}
	{% local pageNav = include("admin/_pagenav.html", {func="setPage"}) %}
	{{ pageNav }}
	<form id="items">
	<table><thead>
		<th></th>
	{% for _, field in ipairs(displayFields) do %}
		<th>{{ capitalize(model:getField(field):getLabel()) }}</th>
	{% end %}
	</thead>
	{% for _, record in ipairs(p:getPage(page):getValue()) do %}
		<tr class="record">
			<td width="10"><input type="checkbox" name="items" value="{{ record.pk }}" /></td>
		{% for _, field in ipairs(displayFields) do %}
			<td class="activeLink" onclick="selectRecord('{{ record.pk }}')">
				{% if record:getField(field):isKindOf(fields.Datetime) then %}
					{{ record:getField(field) }}
				{% else %}
					{{ html.escape(tostring(record[field] or "")) }}
				{% end %}
			</td>
		{% end %}
		</tr>
	{% end %}
	</table>
	</form>
	{{ pageNav }}
	<script type="text/javascript" language="JavaScript">//<![CDATA[
		function selectRecord (id)
		{
			window.location = '{{ modelUrl }}/'+id;
		}
		$('#records tr.record')
		.mouseover(function(){ $(this).css('background', '#FFC'); })
		.mouseout(function(){ $(this).css('background', '#FFF'); });
	//]]></script>
{% else %}
	<div style="padding:10px 20px">No records.</div>
{% end %}

{{ debugger }}
