{% if isRoot then %}<ul>{% end %}
{% if nodes then %}
	{% for _, node in pairs(nodes) do %}
		{% childrenCount=node:childrenCount() %}
		<li>
		<div>
		{% if node:hasChildren() then %}
			<a href="javascript:void(0)" id="buttonFor{{ node.pk }}" onclick="toggleNode({{ node.pk }});">+</a>
		{% end %}
		<a href="{{ modelUri }}/{{ node.pk }}">{{ node }}</a> {% if childrenCount > 0 then %}({{ childrenCount }} elements){% end %}
		<a href="{{ modelUri }}/{{ node.pk }}/create">Create subcategory</a>
		</div>
		{% if node:hasChildren() then %}
		<ul id="childrenFor{{ node.pk }}" style="display: none"></ul>
		</li>
		{% end %}
	{% end %}
{% end %}
{% if isRoot then %}</ul>{% end %}

{{ safe(debugger) }}
