{% if p:total() then %}
	{% local modelUrl = urlConf:baseUri().."/"..urlConf:capture(1) %}
	{% local pageNav = include("admin/_pagenav.html", {func="setPage"}) %}
	{{ pageNav }}
	<form id="items">
	<table><thead>
		<th></th>
	{% for _, field in ipairs(displayFields) do %}
		{% local f = model:field(field) %}
		<th>{{ (f and f:label() or admin[field][1]):tr():capitalize() }}</th>
	{% end %}
	</thead>
	{% for _, record in ipairs(p:page(page):value()) do %}
		<tr class="record">
			<td width="10"><input type="checkbox" name="items" value="{{ record.pk }}" /></td>
		{% for _, field in ipairs(displayFields) do %}
			<td class="activeLink" onclick="selectRecord('{{ record.pk }}')">
				{% local f = record:field(field) %}
				{% if f then %}
					{% if f:isA(fields.Datetime) then %}
						{{ record:field(field) }}
					{% else %}
						{% local choices = f:choices() %}
						{% if "function" == type(choices) then choices = choices() end %}
						{% local value = record[field] %}
						{% if choices then %}
							{{ value and choices[value] or "" }}
						{% else %}
							{{ value or "" }}
						{% end %}
					{% end %}
				{% else %}
					{{ admin[field][2](record) }}
				{% end %}
			</td>
		{% end %}
		</tr>
	{% end %}
	</table>
	</form>
	{{ pageNav }}
	<script type="text/javascript" language="JavaScript">//<![CDATA[
		function selectRecord (id)
		{
			window.location = '{{ modelUrl }}/'+id;
		}
		$('#records tr.record')
		.mouseover(function(){ $(this).css('background', '#FFC'); })
		.mouseout(function(){ $(this).css('background', '#FFF'); });
	//]]></script>
{% else %}
	<div style="padding:10px 20px">No records.</div>
{% end %}

{{ safe(debugger) }}
