<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf8" />
	<meta name="author" content="Aisys">

	<title>{{ title }}</title>

	<link rel="stylesheet" type="text/css" href="/css/blueprint/screen.css" media="screen, projection" />
	<link rel="stylesheet" type="text/css" href="/css/blueprint/print.css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

	<link rel="stylesheet" type="text/css" href="/css/admin/common.css" media="all" />

	<script type="text/javascript" language="JavaScript" src="/js/luv/luv.js"></script>
</head>
<body>

<div class="container">

{[ section "content" ]}
{[ endSection () ]}

</div>
</body>
{{ safe(debugger) }}
</html>
