{{ safe(include "admin/_header.html") }}

{{ safe(include "admin/_info.html") }}
{% local modelUrl = urlConf:getBaseUri().."/"..urlConf:getCapture(1) %}
<div class="span-24 last">
	<div id="chainMenu"><a href="{{ urlConf:getBaseUri() }}">&larr; {{ capitalize(tr "back to main") }}</a> | <a href="{{ modelUrl }}">{{ capitalize(tr(model:getLabelMany())) }}</a></div>
	{{ safe(include "admin/_user-msgs.html") }}
	<h2>{{ capitalize(tr "create") }}</h2>
	<script type="text/javascript" language="JavaScript">//<![CDATA[
		function formCallback (errors)
		{
			if (errors) showErrors(errors);
			else
			{
				hideErrors();
				alert('{{ tr "New record was successfully added." }}');
				Luv.clearForm('form');
			}
		}
	//]]></script>
	{{ safe(include("admin/_errors.html", {errors=form:getErrors()})) }}
	{{ safe(form) }}
</div>

{{ safe(include "admin/_footer.html") }}
