{[ extends "admin/base.html" ]}

{[ section "content" ]}
{{ include "admin/_info.html" }}
{% local modelUrl = urlConf:baseUri().."/"..urlConf:capture(1) %}
<div class="span-24 last">
	<div id="chainMenu"><a href="{{ urlConf:getBaseUri() }}">&larr; {{ ("back to main"):tr():capitalize() }}</a> | <a href="{{ modelUrl }}">{{ model:labelMany():capitalize() }}</a></div>
	{{ include "admin/_user-msgs.html" }}
	<h2>{{ ("create"):tr():capitalize() }}</h2>
	<script type="text/javascript" language="JavaScript">//<![CDATA[
		function formCallback (errors)
		{
			if (errors) showErrors(errors);
			else
			{
				hideErrors();
				alert({{ ("%q"):format(("New record was successfully added."):tr()) }});
				Luv.clearForm("form");
			}
		}
	//]]></script>
	{{ include("admin/_errors.html", {errors=form:errors()}) }}
	{{ safe(form) }}
</div>
{[ endSection() ]}
