{{ safe(include("admin/_header.html", {title="AdminSite"})) }}

{{ safe(include "admin/_info.html") }}

<div class="span-24 last">
	<div class="span-18">
		<ul id="modelsList">
		{% for category, admins in pairs(categories) do %}
			<li>
				<h2>{{ capitalize(tr(category)) }}</h2>
				<ul>
				{% for _, admin in ipairs(admins) do %}
					{% local model = admin:getModel() %}
					{% local name = model:getLabelMany() %}
					{% local modelUrl = urlConf:getBaseUri().."/"..admin:getPath() %}
					<li class="{{ cycle(0, {"odd";"even"}) }}">
						{% if not admin:isTree() then %}
						<div class="button" style="float:right">
							<a href="{{ modelUrl }}/create">
								<img src="/images/admin/page_add.png" width="16" height="16" alt="{{ capitalize(tr "create") }}" />
							</a>
							<a href="{{ modelUrl }}/create">{{ capitalize(tr "create") }}</a>
						</div>
						{% end %}
						{% if admin:getSmallIcon() then %}
							{% local icon = admin:getSmallIcon() %}
							<a href="{{ modelUrl }}">
								<img src="{{ icon.path }}" width="{{ icon.width }}" height="{{ icon.height }}" alt="{{ capitalize(tr(name)) }}" />
							</a>
						{% end %}
						<a href="{{ modelUrl }}">{{ capitalize(tr(name)) }}</a>
					</li>
				{% end %}
				</ul>
			</li>
		{% end %}
		</ul>
	</div>
	<div class="span-6 last">
		<div id="actionsHistory">
			<h2>{{ capitalize(tr "last actions") }}</h2>
			{% if isEmpty(actionLogs) then %}
			<ul><li>{{ tr "No actions." }}</li></ul>
			{% else %}
			<ul>
				{% for _, actionLog in ipairs(actionLogs) do %}
				<li>{{ actionLog }}</li>
				{% end %}
			</ul>
			{% end %}
		</div>
	</div>
</div>

{{ safe(include "admin/_footer.html") }}
