{{ include("admin/_header.html", {title="AdminSite"}) }}

{{ include "admin/_info.html" }}

<div class="span-24 last">
	<div class="span-18">
		<ul id="modelsList">
		{% local category, admins for category, admins in pairs(categories) do %}
			<li>
				<h2>{{ capitalize(category) }}</h2>
				<ul>
				{% local _, admin for _, admin in ipairs(admins) do %}
					{% local model = admin:getModel() %}
					{% local name = model:getLabelMany() %}
					{% local modelUrl = urlConf:getBaseUri().."/"..admin:getPath() %}
					<li class="{{ cycle(0, {"odd";"even"}) }}">
						{% if not admin:isTree() then %}
						<div class="button" style="float:right">
							<a href="{{ modelUrl }}/add">
								<img src="/images/admin/page_add.png" width="16" height="16" alt="Add" />
							</a>
							<a href="{{ modelUrl }}/add">Add</a>
						</div>
						{% end %}
						{% if admin:getSmallIcon() then %}
							{% local icon = admin:getSmallIcon() %}
							<a href="{{ modelUrl }}">
								<img src="{{ icon.path }}" width="{{ icon.width }}" height="{{ icon.height }}" alt="{{ capitalize(name) }}" />
							</a>
						{% end %}
						<a href="{{ modelUrl }}">{{ capitalize(name) }}</a>
					</li>
				{% end %}
				</ul>
			</li>
		{% end %}
		</ul>
	</div>
	<div class="span-6 last">
		<div id="actionsHistory">
			<h2>Last actions</h2>
			{% if isEmpty(actionLogs) then %}
			<ul><li>No actions.</li></ul>
			{% else %}
			<ul>
				{% local _, actionLog for _, actionLog in ipairs(actionLogs) do %}
				<li>{{ actionLog }}</li>
				{% end %}
			</ul>
			{% end %}
		</div>
	</div>
</div>

{{ include "admin/_footer.html" }}
