{[ extends "admin/base.html" ]}

{[ section "content" ]}

{{ include "admin/_info.html" }}

<div class="span-24 last">
	<div class="span-18">
		<ul id="modelsList">
		{% for category, admins in pairs(categories) do %}
			<li>
				<h2>{{ category:capitalize() }}</h2>
				<ul>
				{% for _, admin in ipairs(admins) do %}
					{% local model = admin:model() %}
					{% local name = model:labelMany() %}
					{% local modelUrl = urlConf:baseUri().."/"..admin:path() %}
					<li class="{{ cycle(0, {"odd";"even"}) }}">
						{% if not admin:tree() then %}
						<div class="button" style="float:right">
							<a href="{{ modelUrl }}/create">
								<img src="/images/admin/page_add.png" width="16" height="16" alt="{{ ("create"):tr():capitalize() }}" />
							</a>
							<a href="{{ modelUrl }}/create">{{ ("create"):tr():capitalize() }}</a>
						</div>
						{% end %}
						{% if admin:smallIcon() then %}
							{% local icon = admin:smallIcon() %}
							<a href="{{ modelUrl }}">
								<img src="{{ icon.path }}" width="{{ icon.width }}" height="{{ icon.height }}" alt="{{ name:tr():capitalize() }}" />
							</a>
						{% end %}
						<a href="{{ modelUrl }}">{{ name:tr():capitalize() }}</a>
					</li>
				{% end %}
				</ul>
			</li>
		{% end %}
		</ul>
	</div>
	<div class="span-6 last">
		<div id="actionsHistory">
			<h2>{{ ("last actions"):tr():capitalize() }}</h2>
			{% if empty(actionLogs) then %}
			<ul><li>{{ ("No actions."):tr() }}</li></ul>
			{% else %}
			<ul>
				{% for _, actionLog in ipairs(actionLogs) do %}
				<li>{{ actionLog }}</li>
				{% end %}
			</ul>
			{% end %}
		</div>
	</div>
</div>
{[ endSection() ]}
