{[ extends "admin/base.html" ]}

{[ section "content" ]}
{{ include "admin/_info.html" }}

{% local modelUrl = urlConf:baseUri().."/"..urlConf:capture(1) %}

<div class="span-24 last">
	<div class="span-18">
		<div id="chainMenu">
			{% if not isTree then %}
			<div class="button" style="float:right">
				<a href="{{ modelUrl }}/add">
					<img src="/images/admin/page_add.png" width="16" height="16" alt="Add" />
				</a>
				<a href="{{ modelUrl }}/create">{{ ("create"):tr():capitalize() }}</a>
			</div>
			{% end %}
			<a href="{{ urlConf:baseUri() }}">&larr; {{ ("back to main"):tr():capitalize() }}</a>
		</div>
		<div id="records">
		</div>
	</div>
	<div class="span-6 last">
		<div id="recordsActions">
			<h2>{{ ("actions"):tr():capitalize() }}</h2>
			{% if not isTree then %}
			<ul>
				<li><a href="javascript:void(0)" onclick="luv.checkMultipleCheckboxesByName('items')">{{ ("select all"):tr():capitalize() }}</a></li>
				<li><a href="javascript:void(0)" onclick="luv.clearMultipleCheckboxesByName('items')">{{ ("deselect all"):tr():capitalize() }}</a></li>
				<li><div class="button" onclick="deleteSelected();">
					<img src="/images/admin/remove.png" width="16" height="16" alt="" />
					<a href="javascript:void(0)">{{ ("delete selected"):tr():capitalize() }}</a>
				</div></li>
			</ul>
			{% else %}
			<ul><li>What's there?</li></ul>
			{% end %}
		</div>
	</div>
</div>

<script type="text/javascript" language="JavaScript">//<![CDATA[
	function deleteSelected ()
	{
		var values = luv.getFormValues('items');
		if (values.items && values.items.length)
		{
			if (!confirm('Confirm deletion?'))
				return false;
			$.post(
				'{{ modelUrl }}/records/delete',
				values,
				function() { window.location = window.location; }
			);
		}
		else
		{
			alert('No records selected.');
		}
	}
	function toggleNode (id)
	{
		var button = $('#buttonFor'+id);
		var children = $('#childrenFor'+id);
		if (button.html() == '+')
			button.html('-');
		else
			button.html('+');
		if (!children.html())
			children.load(
				'{{ modelUrl }}/records',
				{'node': id},
				function() { children.slideToggle(); }
			);
		else
			children.slideToggle();
	}
	function setPage(page)
	{
		$.get(
			'{{ modelUrl }}/records',
			{'page': page},
			function (data) { $('#records').html(data); }
		);
	}
	setPage(1);
//]]></script>

{[ endSection() ]}
